[2018-06-25 15:07] oskarth opened #1 "Status Devs Meeting 1 Agenda"
## Status Devs Meeting 1 Agenda

**Meeting Date/Time: Monday 2018-08-06 at 12:00 UTC (14:00 CEST)
Meeting Duration 1.5 hours
YouTube Live Stream Link TBD
~Livepeer Live Stream Link TBD~**

Notes (WIP): https://hackmd.io/8uQR4O65QNWwjSx3iPN9Rw

## Agenda
0. Introduction
a. Purpose of this meeting; format; experiment; feedback (Oskar)
1. Infrastructure updates (infra, p2p, security, testing)
a. Gene

[2018-06-26 16:12] oskarth commented on #1
Under 1, I'd like us to talk about testing basic attacks against our test cluster, as well as attacking our production cluster (a la Netflix Chaos Monkey) with preparation and community warning.

Two basic proof of concepts we can do are:
a) Mailserver etc bad payload / force panic causing crash
b) Spam transport layer attack

Additionally, fuzz testing can be used to essentially eliminate this cl

[2018-07-02 08:45] oskarth commented on #1
Looks like a bunch of people are away and not much added to the agenda yet, let's postpone first meeting.

[2018-07-30 11:29] oskarth commented on #1
Preliminary agenda (to be updated):

1. TBD Testing  (Anna? Anton?)
2. Client updates - Mobile (Igor)
3. Client updates - Desktop (Vitaliy)
4. Security champions, process (Igor)
5. Engineering value (Julien)
6. PFS etc (Andrea)

[2018-08-05 02:59] jakubgs commented on #1
Good end-2-end tests usually cover most of what unit tests do and more. I actually prefer intergration and e2e tests to unit tests. Unit tests are cute, but they cover very specific cases in very specific circumastances, which often tells you little about how well the entire app works.
I know some people are religious about unit tests, but I'd rather take decent e2e tests over full unit test cover

[2018-08-05 17:42] adambabik commented on #1
I like e2e tests when they make sense. In this case, I don't see any benefits of e2e tests. I can run the same method with the same arguments in a unit/integration test and I will immediately know what (and where) is wrong.

BTW I wrote "unit tests" but in this case, it's more like "integration tests".

+1 for some e2e and Chaos Monkey approach but only if it makes sense for a particular case. Her

[2018-08-07 03:14] oskarth opened #2 "Status Devs Meeting 2 Agenda"
## Status Devs Meeting 2 Agenda

**Meeting Date/Time: Monday 2018-08-20 at 12:00 UTC (14:00 CEST)
Meeting Duration 1.5 hours
YouTube Live Stream Link TBD
Livepeer Live Stream Link TBD**

Notes (WIP): https://hackmd.io/VN4rIR3mTxiUfujlDRNYhA

## Agenda

**Focus on: discuss and decisions about future, as opposed to things in the past**

### Part 1 - Hot topics

1. Light clients: LES and ULC.
Context

[2018-08-13 09:00] oskarth commented on #2
- LES and ULC stuff (Igor/Adam/Boris/Eugene)

[2018-08-16 03:31] oskarth commented on #2
- HW wallet integration - discuss feasibility for devcon and how to proceed, team owning etc

[2018-08-16 11:00] MaxRis commented on #2
Sharing common code base between mobile and desktop; Automated testing approaches.

[2018-08-17 15:18] corpetty commented on #2
I can talk about a few things, feasibility of threat stack implementation on our infra (and who would like to see demo), introducing the concept of the Pyramid of Pain ( and it's potential revamp for decentralized dev).

[2018-08-20 05:16] oskarth commented on #2
Agenda updated

[2018-08-20 12:51] arnetheduck commented on #1
Next meeting is #2, notes are https://hackmd.io/8uQR4O65QNWwjSx3iPN9Rw

[2018-08-20 12:51] #1 closed

[2018-08-21 01:31] oskarth opened #3 "Status Devs Meeting 3 Agenda"
## Status Devs Meeting 3 Agenda

**Meeting Date/Time: Monday 2018-09-03 at 12:00 UTC (14:00 CEST)
Meeting Duration 1.5 hours
YouTube Live Stream Link TBD
Livepeer Live Stream Link TBD**

Notes (WIP): https://hackmd.io/bJs-OJ-jTYKJWFmW1es_VA

## Agenda

1. Infra updates (infra, p2p, security, testing)
2. Client updates (mobile, desktop)
3. Research updates
4. Product updates (chat, wallet, dapp)
5.

[2018-08-29 12:13] PombeirP commented on #3
@oskarth we can update the PFS link to the merged idea at https://ideas.status.im/ideas/289-perfect-forward-secrecy

[2018-08-29 14:34] exiledsurfer commented on #3
# Web refresh
**context:**
explain our infrastructure choices and approach to implementation

**goals:**
1. get engineering input;
2. to get people to join the swarm for implementation

**reading:**
https://docs.google.com/document/d/1IXOyWfx7m3j31GshKPOPXKkLF0-cz_a0hN71TxeWpW8/edit?ts=5b867125

[2018-08-30 12:27] oskarth commented on #2
https://github.com/status-im/pm/issues/3

[2018-08-30 12:27] #2 closed

[2018-08-31 12:38] guylouis commented on #3
### **292 Decouple Whisper key from Wallet (status-im/ideas#292)**

**context:**
we need to progress on this since this is a dependency for hardwallet light product launch.

**goals:**
discuss progress, next steps

**reading:**
https://discuss.status.im/t/decoupling-the-whisper-key-from-the-wallet-key/261

[2018-09-03 08:35] siphiuel commented on #3
I'd suggest an additional topic:
### Status Desktop must-haves

**context:**
As we plan on using Status Desktop internally instead of Slack, we need to agree on what features we must have working in order to not have a detrimental impact on team performance.

**goals:**
Collect a list of features that can be implemented in a reasonable amount of time and will satisfy 90+% of use cases.

[2018-09-03 11:41] oskarth commented on #3
Agenda updated here: https://hackmd.io/bJs-OJ-jTYKJWFmW1es_VA

Streaming etc links pending

[2018-09-12 09:12] yenda commented on #3
Swarm and PSS integration and Whisper future
context:
During EthBerlin I had the opportunity to talk with Louis, the main pss developer and Guillaume in charge of Whisper at the EF.
Guillaume would like us to try out his branch of go-ethereum where Whisper over libp2p can be tested out with a switch.
Louis was asking if we had any plans for pursuing the development of swarm light client and explai

[2018-09-14 02:58] oskarth opened #4 "Status Devs Meeting 4 Agenda"
## Status Devs Meeting 4 Agenda

**Meeting Date/Time: Monday 2018-09-17 at 12:00 UTC (14:00 CEST)
Meeting Duration 1.5 hours
YouTube Live Stream Link TBD
Livepeer Live Stream Link TBD**

Notes (WIP): https://hackmd.io/oXOKXab8ST-m6-zgVUNE5A

## Agenda

1. Infra updates (infra, p2p, security, testing)
2. Client updates (mobile, desktop)
3. Research updates
4. Product updates (chat, wallet, dapp)
5.

[2018-09-14 02:59] oskarth commented on #3
https://github.com/status-im/pm/issues/4

@yenda Wrong issue, should've closed this one before

[2018-09-14 02:59] #3 closed

[2018-09-14 02:59] oskarth commented on #4
From @yenda

# Swarm and PSS integration and Whisper future
## context:
During EthBerlin I had the opportunity to talk with Louis, the main pss developer and Guillaume in charge of Whisper at the EF.
Guillaume would like us to try out his branch of go-ethereum where Whisper over libp2p can be tested out with a switch.
Louis was asking if we had any plans for pursuing the development of swarm light

[2018-09-17 09:49] guylouis commented on #4
### **Whisper key & other status reserved derivation paths**

**context**
We have to fix what will be the derivation paths for the whisper key, the database key, and which range of derivation paths we reserve for other status use in the future
See Michele proposal and discussion here in
https://discuss.status.im/t/whisper-and-database-keys-on-the-hardware-wallet/381

**goals**
check if we agree wi

[2018-09-17 09:58] mandrigin commented on #4
### Mobile App

#### context
- Wall of shame / Encryption of the recovery phrase in the DB (merged): https://github.com/status-im/status-react/pull/5757
    - had to fix a realm bug: https://github.com/realm/realm-js/pull/2020 + add a patch until the next realm upgrade

- React-Native Navigation

- Android 9 support,
   - has a bug: https://issuetracker.google.com/issues/112385925
   - added a wor

[2018-09-17 10:28] adambabik commented on #4
## P2P

## Context

### Rate Limiting

Due to running on a mobile device, we are limited with setting high PoW values. This makes our nodes vulnerable to DoS attacks and spam (in a sense of sending a lot of Whisper envelopes regardless of their content). Even if we were able to set PoW to some high number, it wouldn't mean that spam is completely blocked. Rate limiting allows us to drop peers that

[2018-09-17 10:28] divan commented on #4
### Reproducible builds

The approach of achieving status-go reproducible builds with buildID rewriting in binary. Explained in
https://github.com/status-im/status-go/issues/1185#issuecomment-421652351 and I would love to get some feedback/ideas on it.

### Whisper simulation/visualization toolkit

There was a spike in interest for the Whisper simulation/visualization tool I've been working on for

[2018-09-17 10:36] siphiuel commented on #4
### Desktop

**context**
Many features have been requested by Nimbus team and others that are not in scope for Desktop 0.10.0 release yet. These are:
  - improve security
  - improve performance. This and previous item might be tackled by embedding Node.js/JSCore process into Qt
  - private chats
  - riot bridge
  - address port accessibility issue
  - bandwidth issues
  - threads, markdown, searc

[2018-09-17 10:42] Graeme-Code commented on #4
Adding to point 1.
Deterministic builds, next steps is to build a reproducible build of Status go, exit criteria is to have matching binaries on different environments.

Further, it's gonna be complex running a deterministic build of status react, to investigate further we need to document the entire build process to get a better idea of the problem. Calling out for Status React guru and help with

[2018-09-17 10:55] PombeirP commented on #4
## Chat team

- Andrea will be merging the [status-go x3dh branch](https://github.com/status-im/status-go/pull/1127) with the functionality locked behind a feature flag, enabled only on nightlies. Group chat will also be enabled.
- The chat team will start developing on top of the Desktop platform this week, and as expected, that has already led to some itches being scratched (e.g. create a script

[2018-09-17 11:03] mandrigin commented on #4
### `eth_getLogs` issue in new geth

It looks like in the new versions of geth, `eth_getLogs` is misbehaving, causing Infura to time out.

Probably:  https://github.com/ethereum/go-ethereum/issues/17611

[2018-09-17 11:07] 3esmit commented on #4
# ENS Usernames
Context
Users can register an username in a Dapp
Registered users in this Dapp can be found by typing their username in "add user"
Registered users can use their username to send messages on public chats.

Goals
Define how usernames can be resolved in public chat messages
Define how usernames can enable/disable their username in public chat messages

[2018-09-18 02:25] oskarth opened #5 "Status Devs Meeting 5 Agenda"
Status Devs Meeting 5 Agenda
Meeting Date/Time: Monday 2018-10-01 at 12:00 UTC (14:00 CEST)
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

Notes (WIP): https://hackmd.io/WwyyOKHdQOajqzjzgzHqnw

Agenda
Infra updates (infra, p2p, security, testing)
Client updates (mobile, desktop)
Research updates
Product updates (chat, wall

[2018-09-26 10:19] cammellos commented on #5
* How to share contact lists across multiple devices?

[2018-09-27 03:57] oskarth commented on #5
@cammellos Could you please provide more context, possible additional relevant reading and goals of discussion? This will ensure a high quality discussion and best use of time during the actual meeting.

As an example, see:
[code]

[2018-09-27 04:01] oskarth commented on #5
Last time we had 10 agenda items that were all added at the very last minute. To avoid this situation, let's set a deadline of adding items to the agenda at the latest this week (Friday, possibly) Sunday. Items that are added after that, i.e. on Monday, will not be included. (We can still have an open session for random stuff that comes up, but this won't necessarily be touched on due to time cons

[2018-09-27 06:16] jeluard commented on #5
# Chat message bridge

3rd parties want to send message to specific chats using external processes. Simplest way to do that is to offer an HTTP bridge that can be used by anyone.
How do we add PN support to this?

@flexsurfer wrote about it here: https://discuss.status.im/t/whisper-api-as-http-service/470/6

and here:

[code]

Is that our best option? How about security concerns?

[2018-09-27 06:56] adambabik commented on #5
P2P & Infra
========

## Docs and Status Node

First docs how to run Status Node has been prepared. We have a contact to folks running DappNode and Meshbox projects. We want to integrate Status Node with these systems.

## Fork fork fork

We are working towards moving Whisper to a separate package in status-go repository or separate repository. This is because we simply have too many patches and w

[2018-09-27 07:42] PombeirP commented on #5
Regarding Chat message bridge, I think it is reasonable to pass the FCM token to the Dapp server if the user agrees to it. We have some leeway on the client side to detect spam and could notify the user that some service is flooding us with notifications (before even showing them) and potentially allow him to replace his FCM token (currently though, that would mean he'd stop receiving PNs from exi

[2018-09-27 08:07] andytudhope commented on #5
## Documentation Update

We have switched our static site generator, are waiting on a design and to implement a global header, and require one person from each team to agree to be the `documentation janitor` so that we can keep everything ship-shape across the org. We have also set up a proper staging and prod site, so that people can push directly to the `develop` branch in our docs repo, see the

[2018-09-28 14:44] corpetty commented on #5
ENS smart contract security audit with Sigma Prime was completed and we are going over their report and collaboratively working on the issues they found.  Once completed, we will release the report to the public.  Hint, we have awesome solidity developers.

[2018-10-01 10:43] mandrigin commented on #5
@PombeirP are we though? especially on iOS?

[2018-10-01 11:17] PombeirP commented on #5
@mandrigin We aren't filtering yet, but I know we can do it on Android (and I believe on iOS too, but I'm less familiar with the platform).

[2018-10-03 02:38] oskarth opened #6 "Status Devs Meeting 6 Agenda"
Status Devs Meeting 6 Agenda
Meeting Date/Time: Monday 2018-10-15 at 12:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

Notes (WIP):  https://notes.status.im/D7-zz52QTnCLBVRGVpgEhA?both

[2018-10-03 02:38] oskarth commented on #5
See https://github.com/status-im/pm/issues/6

[2018-10-03 02:38] #5 closed

[2018-10-10 14:09] oskarth commented on #6
Deadline tomorrow to have voting on Friday.

[2018-10-11 11:39] oskarth commented on #6
@mandrigin could you add more context and goals of these items? Ideally we'd like to have something people can study and prepare beforehand so we can use the time in best way possible.

cc @PombeirP

[2018-10-11 14:10] Graeme-Code commented on #6
Topics:

- React JS and React Native component library.

The decision, do we have separate react component libraries for React Js and React Native or do we use one library?

[2018-10-11 14:14] Graeme-Code commented on #6
- How a notification service would work for Dapps

This is based out of curiosity. From the voting dapp perspective it would benefit greatly by sending a notification to a user once an action has been completed. I.e:

- Vote Open
- Vote Finished
- Submission of vote to blockchain successful
- Submission of vote to blockchain unsuccessful

Would like to have a conversation about what needs to be in

[2018-10-11 14:36] mandrigin commented on #6
@Graeme-Code

I'm not sure it is trivial to have the same component library for React and React Native, they are very similar, but there are many differences. I guess you can abstract away some of the basic behaviour, but  if you go into details, you might still want to re-implement components.

[2018-10-12 09:14] Graeme-Code commented on #6
Topic:

- DappNode.io Demo, running Status node.

[2018-10-15 05:32] oskarth commented on #6
How did voting go? Do we have a link somewhere?

Also we should probably talk about mailserver uptime and responsiveness, I've a feeling we aren't quite meeting our SLA goals of 99%+ (or was it more?) we set long time ago for 500 concurrent users.

[2018-10-15 10:08] Graeme-Code commented on #6
Hi, votes are present on the voting dapp above every option. https://ipfs.infura.io/ipfs/QmfU5ySa2KorBGxM6j7Wfea2FA6jCAmuJLGAS75TnrarhK/

[2018-10-15 10:09] oskarth commented on #6
Cheers!

Agenda/Notes (slightly modified, see #status-core-devs): https://notes.status.im/D7-zz52QTnCLBVRGVpgEhA?both

[2018-11-05 10:36] oskarth opened #7 "Status Devs Meeting 7 Agenda"
Status Devs Meeting 7 Agenda
Meeting Date/Time: Monday 2018-11-19 at 12:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

Notes/Agenda: https://notes.status.im/N4Bni-6iQCqUNaiWv-odLQ

Please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

[2018-11-05 10:36] oskarth commented on #6
https://github.com/status-im/pm/issues/7

[2018-11-05 10:36] #6 closed

[2018-11-13 15:34] dshulyak commented on #7
We can discuss libp2p integration. And making a network from desktop devices.
I tried to summarize why and how in this document https://discuss.status.im/t/libp2p-goals-and-integration-plan/698. I would like to know about any concerns around it.

[2018-11-19 04:14] oskarth commented on #7
Engineering/Process fails:

1. We still have way too big PRs (https://github.com/status-im/status-react/pull/6764)
2. Automated tests still not reliable (https://github.com/status-im/status-react/pull/6764#issuecomment-439759630 and https://github.com/status-im/status-react/pull/6731#issuecomment-439028766 and https://github.com/status-im/status-react/pull/6752#issuecomment-439430496 for three ran

[2018-11-19 10:41] oskarth commented on #7
Also more generally re leveling up engineering practices with PRs (testing changes etc).

[2018-11-19 11:46] oskarth commented on #7
Agenda https://notes.status.im/N4Bni-6iQCqUNaiWv-odLQ?edit

[2018-11-19 11:55] gravityblast commented on #7
if there time I would like to talk about having multiple wallet/whisper keys instead of decoupling them

[2018-11-26 08:53] oskarth opened #8 "Status Devs Meeting 8"
Status Devs Meeting 8, Agenda
Meeting Date/Time: Monday 2018-12-03 at 12:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

Notes/Agenda: https://notes.status.im/vV9787u1RvSuop3x3jPXfw

Please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

[2018-11-26 08:53] oskarth commented on #7
https://github.com/status-im/pm/issues/8

[2018-11-26 08:53] #7 closed

[2018-11-26 08:59] oskarth commented on #8
Please add stuff before end of day Wednesday to allow proper preparation by participants. Please also include context and specific goals so everyone can read up beforehand, and know what is expected. (This has been repeated feedback)

[2018-11-28 10:58] mandrigin commented on #8
https://github.com/status-im/status-react/issues/6906
https://github.com/status-im/status-react/pull/6915
https://github.com/status-im/status-react/pull/6918

[2018-11-30 17:00] gravityblast commented on #8
Sorry if I haven't added this earlier but I would like to take about:

1 - Decoupling whisper and wallet keys: [https://discuss.status.im/t/multiple-whisper-and-wallet-keys/817](https://discuss.status.im/t/multiple-whisper-and-wallet-keys/817)

2 - Steps needed + ideas/help needed on how to exchange wallet address for in-chat transactions [https://notes.status.im/xIn9qA-3SWCbp7jkJCJjOg](https://no

[2018-12-01 02:41] oskarth commented on #8
@gravityblast Thanks - could you provide a brief summary on context and what desired outcome you want? I doubt everyone will read the full Discuss thread and understand what we want to achieve, so a tldr would be useful to maximize engagement from people.

[2018-12-03 08:51] mandrigin commented on #8
Upgradeable **message-id**s open forum.

We had problems with message IDs for quite a while and they are impeding the upgrade, let's fix them finally.

More context: https://github.com/status-im/status-react/issues/6956

[2018-12-03 11:46] oskarth commented on #8
Agenda https://notes.status.im/vV9787u1RvSuop3x3jPXfw?both

[2018-12-03 13:36] oskarth opened #9 "Status Devs Meeting 9, Agenda"
Status Devs Meeting 9, Agenda
**Meeting Date/Time: Monday 2018-12-17 at 13:00 UTC** (new time)
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

Notes/Agenda: TBD

1. Updates (<15m)
- Core
- Research
- Product
- Infra etc
- Other

[2...]. TBD

For each agenda item, please provide context (things non-initiated people need to k

[2018-12-03 13:36] oskarth commented on #8
Notes https://notes.status.im/Z9xG4bACS9WP_9hQtFbVjg

https://github.com/status-im/pm/issues/9

[2018-12-03 13:36] #8 closed

[2018-12-03 13:38] oskarth commented on #9
Notice that the next call is 1h later than usual, 1300 UTC.

[2018-12-17 11:11] mandrigin commented on #9
Security checklist: https://hackmd.io/w05YbPzJSHG1lnS5fSS4Eg

[2018-12-17 11:22] jeluard commented on #9
Topic suggestion:

* privacy/security trade offs with using Google Safe browsing

[2018-12-17 12:50] oskarth commented on #9
Notes/Agenda https://notes.status.im/sSwbEGg9TEWfxpOnLMPE_Q

[2019-01-07 05:13] oskarth opened #10 "Status Devs Meeting 10 Agenda"
Status Devs Meeting 10, Agenda
Meeting Date/Time: Monday 2019-01-14 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

Notes/Agenda: TBD

1. Swarm Updates (15-30m)
All swarm leads presenting give brief update.

2. Hot topics. (45-60m)

For each agenda item, please provide context (things non-initiated people need

[2019-01-07 05:14] oskarth commented on #10
Proposal for hot topic: Anti-spam public spam KISS solution.

Context: We've had a bunch of spam in public chats. TTT only for 1:1 chat. What's the minimal solution we can do to solve it?
Desired outcome: Agreement on minimal solution and owner for it.

(This might've already been decided, if so please link to issue with proposed solution).

[2019-01-07 05:17] oskarth commented on #9
Going double digits yo https://github.com/status-im/pm/issues/10

[2019-01-10 04:45] #9 closed

[2019-01-14 12:59] oskarth commented on #10
Notes https://notes.status.im/-NzaEXvfSRGTY4fhIoP0fA

[2019-01-17 09:41] oskarth opened #11 "Status Devs Meeting 11, Agenda"
Meeting Date/Time: Monday 2019-01-28 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

Notes/Agenda: TBD

Swarm Updates (15-30m)
All swarm leads presenting give brief update.

Hot topics. (45-60m)

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired

[2019-01-17 09:41] oskarth commented on #10
https://github.com/status-im/pm/issues/11

[2019-01-17 09:41] #10 closed

[2019-01-18 09:47] oskarth opened #12 "Upload notes and create index with Core dev notes"
Go through https://github.com/status-im/pm/issues?q=is%3Aissue+is%3Aclosed and upload previous notes as `.md` files in a folder to this repository, similar as is done here: https://github.com/ethereum/pm/blob/master/README.md.

Then create a table similar to the above, that lists Core Dev Call, Date, Link to Notes and Link to video (see https://www.youtube.com/c/Statusim/).

## Acceptance criteria

[2019-01-22 11:32] oskarth commented on #11
Some teams have expressed need for arbitration mechanisms. What are the needs, what will this look like, who will implement it? Discuss and decide. @hesterbruikman et al please add details

[2019-01-22 22:36] yukogure commented on #12
I don’t think this is how it works. You need to wait until you are approved...

[2019-01-23 10:46] andytudhope commented on #12
yeah, technically, it's not... However, there's plenty of other work that can be done here (next steps: transcribing videos to improve notes), so there will be lots of other bounties available @yukogure and I will give your first preference on the next one.

Also translations! So let a brother know if that is within your capabilities.

[2019-01-23 10:50] oskarth commented on #12
@johnlenin00 Thanks! I added an empty README.md. Some minor comments but generally looks good - would you mind opening a PR and we can continue there?

@yukogure What @andytudhope said, sorry about that. Next time!

[2019-01-23 10:51] yukogure commented on #12
That’s a bummer. I’m only able to translate Japanese. Never done transcribing before, and the only chance I got was some beginner friendly tasks like these. Thanks for the opportunity though!

[2019-01-23 11:19] hesterbruikman commented on #11
**Topics for discussion**
- Is arbitration relevant for your swarm?
- To what extend is it relevant? a) required for MVP, b) optimization, c) nice to have at some point
- Where are you at? a) investigating necessity, b) researching arbitration solutions, c) specifying solution, d) implementing
- What is your preferred solution? Why?
- Any relevant EIP's?
- Any potential partnerships?

[2019-01-23 15:13] charlie4biz commented on #12
@oskarth We were all playing the gentleman's wait while @johnlenin00 played the fast game. Open for other jobs next time. cheers 👍

[2019-01-24 14:18] rachelhamlin commented on #11
**Fee structures for SNT utility**

- How does Status leverage SNT utility to ensure continuance in the long term?
- Is increasing token price alone enough to sustain the project financially?
- Should Status take fees on SNT utility features such as stickers?
- What should be done with those fees?

The current proposal is that Status either burn or recycle a percentage of SNT from every sticker sa

[2019-01-25 02:41] oskarth commented on #11
Thanks @rachelhamlin and @hesterbruikman, this looks great! We now have a solid agenda for Monday:

## Agenda

1. Swarm Updates (15-30m)
All swarm leads presenting give brief update.

- Lets make sure to keep this very brief as we have a lot of thins to go through

2. Automated tests and blocking PRs
- Context on PRs breaking build
- What is being done about it from QA, individual devs and GH tool

[2019-01-25 09:31] PombeirP commented on #11
Maybe it's interesting to do a quick overview of the ongoing struggle to achieve reproducible builds, and what's been done in the past couple of weeks to get us closer to that. E.g.:
- the subtle changes to scripts, lock files and things like Docker image tagging, to ensure that artifacts don't get overwritten preventing us from building an old commit.
- the dependencies checker bot and how this w

[2019-01-25 10:31] #12 closed

[2019-01-25 10:31] oskarth commented on #12
Issue resolved. Assuming Gitcoin will mark this as accepted.

cc @andytudhope

[2019-01-25 19:37] richard-ramos commented on #11
If there's enough time, I'd like to include in the agenda a topic: *Whisper availability inside Status DApp browser*, which is something that would benefit the Teller Network as well as Gas Relayer.
- Current state: why whisper is not available in the web3 provider?
- Viability for adding this functionality to the dapp browser (through the use of web3 or status_api)

[2019-01-26 06:13] oskarth commented on #11
Another one: ULC just got merged! https://github.com/ethereum/go-ethereum/pull/16904

What does this mean for Status? Can we integrate it sometime soon?

----

Given that there are quite a few topics, 4+3 recent proposed, there's probably not enough time to talk through all of them. How would people prefer we prioritize them? We could setup a poll or just do this informally.

[2019-01-26 07:08] jarradh commented on #11
There is also another talking point to bring to attention, I have a request to  'relicense' the Status codebase to CC0 which needs to cooperation of all contributors (core and not). Essentially this is the only 'legal' way to waive copyright to enter the codebase into the public domain. We can then move the source of truth to a decentralized git repo (to be governed by the DAO), whereas the Status

[2019-01-26 12:45] bgits commented on #11
I would like to suggest: _storage availability inside Status DApp browser_.

In short it seems that localStorage is not persisted once a session is closed. As it is becoming clear that client side storage such as localStorage and IndexDB are being used more frequently to provide better UX in DApps it would be very helpful for DApp developers to know what are the limitations in the Status DApp brow

[2019-01-28 01:45] arnetheduck commented on #11
Suggesting we leave the SNT fee stuff for last so we can focus on tech first / possibly move it to a separate call..

[2019-01-28 06:36] oskarth commented on #11
Thanks @richard-ramos! Since there's a lot of varied interests of things to talk about, let's use that poll to decide on ordering.

At the end of the call we can briefly talk about if there are better heuristics for which topics we should give priority.

[2019-01-28 12:48] oskarth commented on #11
Agenda updated based on votes https://notes.status.im/W2DgtSffQ6-eZWb5n29ujA?both

[2019-02-05 09:56] oskarth opened #14 "Status Devs Meeting 12, Agenda"
Meeting Date/Time: Monday 2019-02-11 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-02-05 10:43] oskarth opened #15 "Status Devs Meeting 12, Agenda"
Meeting Date/Time: Monday 2019-02-11 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-02-05 10:46] oskarth commented on #15
One feedback that's worth re-iterating. These meetings should probably focus on matters that:
- are technical in nature
- would benefit from sync conversations
- can be decided upon during the meeting, i.e. doesn't require a lot of async research etc

Do people generally agree with this or are there other viewpoints?

[2019-02-05 15:14] oskarth commented on #11
See https://github.com/status-im/pm/issues/15

[2019-02-05 15:14] #11 closed

[2019-02-05 15:32] oskarth commented on #15
1. Better PRs
a) how can we avoid long PRs? the use of feature flags
b) acceptance criteria and design review

2. Protocol discussion and Q&A
Some time to ask questions and discuss protocol workshop etc

[2019-02-07 09:02] rachelhamlin commented on #15
There was a suggestion by Eric on the chat sync to discuss push notification navigation.

With both deleted chats and old PNs from blocked users ([PR just merged](https://github.com/status-im/status-react/pull/7170#issuecomment-452681643)), the PNs open into an `Unknown` chat. Not sure if this is affected by Pedro's recent work to improve PN navigation.

[2019-02-11 03:35] jarradh commented on #15
Is it worth discussing https://discuss.status.im/t/musings-on-key-management-aka-whisper-decoupling/1034 would love feedback and any issues I may have missed

[2019-02-11 12:54] oskarth commented on #15
https://notes.status.im/ZXI1PLCLSeiuDTwAweRLxQ#

[2019-02-12 10:18] oskarth commented on #14
Duplicate

[2019-02-12 10:18] #14 closed

[2019-02-12 10:23] oskarth opened #16 "Transcript of Core Dev Call 10"
Create a transcript of Core Dev Call 10 (Jan 14).

Videos can be found here https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos

## Acceptance criteria

1. Accurate transcript of video
2. Create a transcriptXX.md file with agenda and agenda headers  in transcript
3. Update README to reflect latest state

[2019-02-12 10:26] oskarth commented on #16
If all goes well, do the same for 11 and 12.

[2019-02-13 07:08] oskarth commented on #15
Follow up to PR discussion https://discuss.status.im/t/better-pull-requests-process/1044/2

[2019-02-13 08:01] oskarth opened #17 "Status Devs Meeting 13, Agenda"
Meeting Date/Time: Monday 2019-02-25 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-02-13 08:01] oskarth commented on #17
1. Follow up on Better PR process https://discuss.status.im/t/better-pull-requests-process/1044 from last call

[2019-02-13 08:02] oskarth commented on #15
https://github.com/status-im/pm/issues/17

[2019-02-13 08:02] #15 closed

[2019-02-20 08:31] oskarth commented on #16
@StatusSceptre I'm not the funder so I can't approve worker.

Also, for some reason your nick doesn't show up in auto-complete which makes ping harder. Looking at https://github.com/orgs/status-im/people?utf8=%E2%9C%93&query= it seems like your nickname isn't set somewhere (notice diff between this name and other people) - would be great if you could do this so you can be more easily pinged in ind

[2019-02-20 08:31] oskarth commented on #16
Alternatively, we can set up a bounty team and use that for pings

[2019-02-20 14:05] StatusSceptre commented on #16
@oskarth fixed and approved

[2019-02-21 03:34] oskarth commented on #16
@StatusSceptre test works, cheers!

[2019-02-21 20:40] deeayeen commented on #16
Just pulled transcript with agenda headers included.
Happy to do future transcripts for a slightly higher bounty 👍

[2019-02-25 08:23] oskarth opened #19 "Transcript for core dev call 11"
Create a transcript of Core Dev Call 11 (Jan 28).

Videos can be found here https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos

## Acceptance criteria

1. Accurate transcript of video

2. Create a transcriptXX.md file with agenda and agenda headers  in transcript

3. Update README to reflect latest state

4. This includes notes and video link, like previous ones (can link to notes in

[2019-02-25 08:26] oskarth opened #20 "Transcript of core dev call 12"
Create a transcript of Core Dev Call 12 (Feb ~11).

Videos can be found here https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos

## Acceptance criteria

1. Accurate transcript of video
2. Create a transcriptXX.md file with agenda and agenda headers  in transcript
3. Update README to reflect latest state
4. This includes notes and video link, like previous ones (can link to notes in cl

[2019-02-25 09:00] PombeirP commented on #17
State of transition to Nix package manager (where we are, what's missing, Q&A)

[2019-02-25 12:58] oskarth commented on #17
https://notes.status.im/TvTQnbtRRZm9yKaG_C4PRQ#

[2019-02-25 18:24] deeayeen commented on #19
@oskarth

Hey Oskar I can't find the notes for meeting #11 & #12, would [this](https://github.com/status-im/pm/issues/11) and [this](https://github.com/status-im/pm/issues/15) be okay?

[2019-02-26 03:14] oskarth commented on #19
They can be a bit hard to find, generally they are at the end of the GH issue thread as a link to hackmd.

- https://notes.status.im/W2DgtSffQ6-eZWb5n29ujA?both# notes for 11

- https://notes.status.im/ZXI1PLCLSeiuDTwAweRLxQ# for 12

[2019-02-26 08:59] oskarth opened #21 "Transcript for call 13"
Same as https://github.com/status-im/pm/issues/20 but for core dev call 13

[2019-02-26 09:00] oskarth opened #22 "Status Devs Meeting 14, Agenda"
Meeting Date/Time: Monday 2019-03-11 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-02-26 09:00] oskarth commented on #17
https://github.com/status-im/pm/issues/22

[2019-02-26 09:00] #17 closed

[2019-02-27 18:25] StatusSceptre commented on #21
Hey all; thanks for the enthusiasm to help with these! This one had been promised to @deeayeen in another thread, but for future MD transcript bounties we can keep it to an open bounty where the first PR to be accurate is accepted to give others a chance at them as well. Thanks for understanding.

[2019-02-28 15:41] oskarth commented on #16
Done

[2019-02-28 15:41] #16 closed

[2019-02-28 15:41] oskarth commented on #19
This one should be done @StatusSceptre (still can't highlight you for some reason, hm)

[2019-02-28 16:10] deeayeen commented on #19
Thanks @oskarth !

Finishing up transcript 12 and 13 now.

Unfortunately they may be the last ones given to me, after a [decision made by the status team](https://github.com/status-im/pm/issues/21#issuecomment-467975122)...

I would be more than happy to continue delivering my work to you guys, I'm a big fan of Status and interested in all your swarms. If there's any way I could continue taking a

[2019-02-28 16:25] StatusSceptre commented on #19
Hey @deeayeen we're happy to let you continue on these as well! We just want to make sure to keep bounties open to others. Thanks for spending the time, gave you an extra tip for your work so far as well! Very interested in having you as part of the community, have you checked out the ambassador program as well https://our.status.im/announcing-statusphere-ambassadors/ its a way to get further invo

[2019-02-28 16:46] deeayeen commented on #19
@StatusSceptre
Cool! I'll look into it.
Regarding the future transcriptions, the hour and half calls take roughly ~6-7 hours to transcript accurately, it would be pretty demotivating knowing the task isn't explicitly mine and that anyone else might win the bounty. But I understand, thanks for the response!

[2019-02-28 17:17] oskarth commented on #19
I would personally be fine with an informal arrangement that you get dibs, provided you commit/deliver within some time frame. Premium on repeat contributions should be rewarded IMO.  But not my call

[2019-02-28 17:17] StatusSceptre commented on #19
Also no problem with that, you've done a great job so far @deeayeen !

[2019-03-01 13:21] deeayeen commented on #21
My profile is bugged I am unable to submit work on this.
The PR is [here](https://github.com/status-im/pm/pull/24)

[2019-03-03 19:32] deeayeen commented on #20
This will be submitted tomorrow

[2019-03-08 09:45] jeluard commented on #22
## Status components

Discuss the opportunity to create a separate library of components as defined by design team. This library could potentially support both React and ReactNative to accommodate both mobile and web DApps development.

[2019-03-08 12:23] oskarth commented on #22
Pedro will be leading this meeting as I will be on a flight during the call.

[2019-03-08 17:29] PombeirP commented on #22
https://notes.status.im/core-dev-call-14-agenda#

[2019-03-11 13:49] PombeirP opened #25 "Transcript for call 14"
Same as https://github.com/status-im/pm/issues/20 but for core dev call 14

[2019-03-11 13:50] #22 closed

[2019-03-11 13:50] PombeirP commented on #22
Transcript bounty in https://github.com/status-im/pm/issues/25

[2019-03-12 09:58] oskarth commented on #22
Thanks @PombeirP! I can't find the notes here https://notes.status.im/core-dev-call-14-notes#

[2019-03-12 10:02] PombeirP commented on #22
@rachelhamlin can you please point to where you took the notes (or maybe paste them to https://notes.status.im/core-dev-call-14-notes#)?

[2019-03-12 10:19] rachelhamlin commented on #22
Thanks for pinging. Done :) https://notes.status.im/core-dev-call-14-notes?both

[2019-03-18 12:46] oskarth commented on #21
Done.

[2019-03-18 12:46] #21 closed

[2019-03-18 12:46] oskarth commented on #25
Ping @StatusSceptre

[2019-03-18 12:46] oskarth commented on #19
Done

[2019-03-18 12:46] #19 closed

[2019-03-18 12:47] oskarth commented on #20
Done

[2019-03-18 12:47] #20 closed

[2019-03-18 12:47] oskarth opened #26 "Status Devs Meeting 15, Agenda"
Meeting Date/Time: Monday 2019-03-25 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-03-21 12:29] oskarth commented on #25
Added to project SOB Swarm, let's hope spell works this time

[2019-03-21 12:35] oskarth commented on #26
- @mandrigin any luck with the post mortem of breaking protocol change? it'd be great to have a document ready that outlines how decision was made, what alternatives were considered and how we can improve in the future. Then people can read it and we can discuss during this call.

- @cammellos @antdanchenko It's been a month since we had https://discuss.status.im/t/better-pull-requests-process/104

[2019-03-21 12:51] mandrigin commented on #26
@oskarth yep, I'll prepare a draft today/tomorrow so we have something to discuss

[2019-03-22 09:22] mandrigin commented on #26
Post-mortem: https://discuss.status.im/t/partitioned-topic-post-mortem/1107

[2019-03-23 13:17] 3esmit commented on #26
Announcement: 172-topic-democracy swarm start-up.

[2019-03-25 10:47] oskarth commented on #26
@annadanchenko @mandrigin can we do a brief update on Chaos Unicorn state?

Also ping @cammellos @vkjr @antdanchenko on above

[2019-03-25 10:52] cammellos commented on #26
@oskarth I have looked into it, it's tricky but doable but would require extensive refactoring, currently though I don't have any bandwidth to look into it further

[2019-03-25 10:58] mandrigin commented on #26
Yeah, we can discuss the Unicorn day too.

[2019-03-25 12:40] PombeirP commented on #26
Topic suggestion: exposing status-go as a nix package.

We'd gain 2 things:
- status-go repo would be consistent with status-react in using Nix (reproducible builds)
- status-react would consume status-go as just another Nix package, instead of ad-hoc solution we have now.

[2019-03-25 12:40] antdanchenko commented on #26
@oskarth Running of IOS e2e tests is blocked by SauceLabs right now

The issue is happening for any IOS simulator/version

10 test sessions have been started at the same time with launchTimeout set to 60000 and without implicit wait command

1 of them succeed to start in 1 minutes and 30 seconds which is acceptable time:
https://app.saucelabs.com/tests/d2ede36987a84904aff4f9c24f7b03a5

9 of them a

[2019-03-25 12:53] mandrigin commented on #26
@PombeirP I think we should 100% do that

[2019-03-25 12:54] oskarth commented on #26
https://notes.status.im/fhtUiDJ1R52THGzq3wlSPA#

[2019-03-25 14:34] oskarth opened #27 "Status Devs Meeting 16, Agenda"
Meeting Date/Time: Monday 2019-04-08 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-03-25 14:36] oskarth commented on #27
Note to self: round robin / random note taker. Sheet list with participants, remove common people and see who's left.

[2019-03-26 04:24] oskarth commented on #25
Ping @StatusSceptre

[2019-03-26 13:47] StatusSceptre commented on #25
on it @oskarth

[2019-03-27 10:08] oskarth opened #28 "Transcript for call 15"
Same as #20 but for core dev call 15

[2019-03-27 10:09] oskarth commented on #27
Two more meta notes:

- consider timeboxing how long each thing is discussed
- Warning: timezone changes! see what's up, should be same as TH

[2019-03-27 10:56] srisankethu commented on #28
@oskarth Can I talk this up once the bounty is approved?

[2019-04-01 10:24] oskarth commented on #27
Chaos Unicorn post mortem based on notes and observations https://notes.status.im/W0Kvc1XVSuSlGMxe8y1flg#

[2019-04-01 16:03] roleengineer commented on #25
Excuse me for the delay, I haven't notice the approve in time. PR will be added within 24 hours.

[2019-04-03 15:22] roleengineer commented on #25
[WIP PR](https://github.com/status-im/pm/pull/29) was added.

[2019-04-08 09:36] oskarth commented on #27
Briefly on bootstrap node diversity, https://discuss.status.im/t/increasing-bootstrap-node-diversity-kiss-edition/1138/4  - if we can go ahead and do it, and what other KISS stuff we can do (i.e. in a day or two)

[2019-04-08 10:14] oskarth commented on #27
Mini Announce: created overview of repos here, started with all the protocol repos we have https://github.com/status-im/repos/blob/master/README.md

[2019-04-08 10:39] bgits commented on #27
If your doing checkins from all the swarms, token economy can briefly talk about some thoughts on value accrual in ETH: https://observablehq.com/@bgits/eth-value-exploration

[2019-04-08 13:13] mandrigin commented on #27
Meeting notes: https://notes.status.im/core-dev-call-16

[2019-04-08 13:14] mandrigin opened #30 "Status Devs Meeting 17 Agenda"
Meeting Date/Time: Monday 2019-05-07 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-04-10 10:14] roleengineer commented on #25
The task is done, you can check it out. I'm really sorry for the delay, I didn't expect such situation.

[2019-04-16 09:47] oskarth commented on #25
@roleengineer the PR says it is WIP. Is it done now?

[2019-04-16 09:48] oskarth commented on #27
Reopening since meeting notes and transcripts still not done or separate issue

[2019-04-16 09:49] oskarth commented on #30
@mandrigin are we going ahead with this one for 100%? Just want to confirm

[2019-04-16 09:50] oskarth commented on #28
@srisankethu please apply once it's up, first come first serve

@StatusSceptre ping (who is there?)

[2019-04-16 09:54] mandrigin commented on #30
@oskarth I asked @corpetty to help with leading it, but it will probably be very empty... still might be some topics to discuss.

[2019-04-16 11:20] roleengineer commented on #25
PR was named at the beginning. Yes, it's done. You can check the quality and give feedback if it's ok or needs to some fixes.

[2019-04-17 05:40] oskarth commented on #25
Thanks, reviewed, lgtm. Waiting for 1/2 more reviewers

[2019-04-17 05:41] oskarth commented on #27
@mandrigin do you think you could create a bounty for 16?

[2019-04-17 06:03] mandrigin commented on #27
will do today

[2019-04-17 17:08] mandrigin opened #31 "Transcript for call 16"
Same as #20 but for core dev call 16

[2019-04-19 15:13] srisankethu commented on #28
@oskarth :+1:

[2019-04-19 17:11] StatusSceptre commented on #28
on it, this repo wasn't linked.  I'll link it now so it'll show up on the bounty tracker dashboard quicker.

[2019-04-19 19:38] muchwandering commented on #31
I would really like to do this. If it is just a straight listen and transcribe to text I think I could definitely do this. Money is hard to come by for me, so if you would allow me I would love to do this. It would help me out a lot!

[2019-04-19 20:59] satyaki-mallick commented on #28
Hi @oskarth , Can you give me the video link of the dev call 15 ..? I cant seem to find it in the youtube list of videos

[2019-04-20 01:43] krisc commented on #28
I'm interested to do this in the future some time. I was an audio transcriptionist for a few months last year

[2019-04-21 08:02] SaschaMajewsky commented on #28
Transcript here:

[transcript15.zip](https://github.com/status-im/pm/files/3101018/transcript15.zip)

[2019-04-21 11:09] satyaki-mallick commented on #28
HI @oskarth, So who will be working on this?

[2019-04-21 12:41] SaschaMajewsky commented on #28
I have submitted the full transcript above. I guess it's up to @oskarth to accept the document and provide the bounty or not.

[2019-04-22 02:53] oskarth commented on #28
Uh-oh, interesting problem. Great to see all the interest. Since it seems like @SaschaMajewsky and @satyaki-mallick both started doing the work, whoever does it first and best seems like a fair deal. What do you guys think about that? Open to other ways of resolving it.

@SaschaMajewsky please submit the transcript as a PR.

@StatusSceptre WDYT? Perhaps we could do a slightly smaller bounty for pa

[2019-04-22 02:57] oskarth commented on #28
Uh oh, interesting problem. Great to see all the interest. Not sure there's a best or common practice way of resolving this - open to ideas.

@StatusSceptre I can't accept workers, what do you think? Since @satyaki-mallick submitted a partial PR already I'd lean towards them. The automated transcription in a zip file by @SaschaMajewsky seems to be a bit too inaccurate IMO.

[2019-04-22 03:11] skeptycal commented on #28
Hi there,

I'm just expressing interest and trying to get more involved in the community. No big deal. I'm around if you need something.

Mike

[2019-04-22 05:48] oskarth commented on #30
Would it make sense to skip this Core dev call? Nothing on agenda and seems like a lot of people are out.

[2019-04-22 05:51] satyaki-mallick commented on #28
@oskarth : I will add another 30 mins of it by today and hopefully finish it in another 2 days' time.

[2019-04-22 14:21] skeptycal commented on #28
Sounds good. Let me know how things settle out.

[2019-04-22 17:34] srisankethu commented on #28
@oskarth Aaagh! Missed this one, can I try next one?

[2019-04-29 15:50] StatusSceptre commented on #25
approving and paying out.

[2019-04-29 16:32] StatusSceptre commented on #28
@oskarth I approved @satyaki-mallick based on comments above.  What is the current status of this, are we waiting for a bit more, or is it considered finished?

[2019-04-29 16:43] satyaki-mallick commented on #28
Yeah. So I have completed it. Need some beautification and another go through before the final push.

[2019-04-29 20:48] satyaki-mallick commented on #28
Hi. I have made the changes. Can somebody review it?

[2019-04-30 04:25] oskarth commented on #31
@mandrigin FYI this has to be added to project I think

cc @StatusSceptre

[2019-04-30 04:25] oskarth commented on #31
@muchwandering please apply once bounty is up

[2019-04-30 04:26] oskarth commented on #28
Thanks @satyaki-mallick

[2019-04-30 04:26] oskarth commented on #28
@StatusSceptre all good

[2019-04-30 04:26] #28 closed

[2019-04-30 04:30] oskarth commented on #26
Done

[2019-04-30 04:30] #26 closed

[2019-04-30 04:30] #25 closed

[2019-04-30 04:31] oskarth commented on #31
@mandrigin where are the notes ?

[2019-04-30 04:31] oskarth commented on #31
Notes https://github.com/status-im/pm/issues/27

[2019-04-30 04:31] #27 closed

[2019-04-30 04:32] oskarth commented on #30
We skipped this. Date updated.

[2019-04-30 05:14] satyaki-mallick commented on #28
Hi @oskarth , do you want me to fix the minor issues and raise another pull request by today EOD ...?

[2019-04-30 05:16] satyaki-mallick commented on #28
Hi @oskarth , do you want me to fix the minor issues and raise another pull request by today EOD ...?

[2019-04-30 09:04] oskarth commented on #28
@satyaki-mallick if you want that'd be great, thanks :)

[2019-04-30 09:11] satyaki-mallick commented on #28
Sure. Will do it today. @oskarth

[2019-04-30 20:33] StatusSceptre commented on #31
for some reason this isn't popping up on the bounty tracker, I'll add a bounty now.

[2019-05-01 07:40] aerophile commented on #31
If @muchwandering shows up, You can give this to him.

[2019-05-02 11:35] oskarth commented on #31
@StatusSceptre ping

[2019-05-02 20:53] aerophile commented on #31
Hey @oskarth Can I begin or should we wait for @StatusSceptre to approve first/

[2019-05-09 04:22] oskarth commented on #30
Missing notes, transcript and next issue.

[2019-05-10 09:09] aerophile commented on #31
Thanks for approval, work is in progress.

[2019-05-13 09:08] aerophile commented on #31
Will post a WIP pull request today, 50% of the call is done.

[2019-05-14 13:30] mandrigin opened #34 "Status Dev Meeting 18 Agenda"
Meeting Date/Time: Monday 2019-05-20 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-05-14 13:32] mandrigin commented on #30
next meeting: https://github.com/status-im/pm/issues/34

[2019-05-14 13:33] mandrigin opened #35 "Transcript for call 17"
Same as #20 but for core dev call 17

[2019-05-14 13:34] mandrigin commented on #35
@StatusSceptre can we make this a bounty? I added the size

[2019-05-14 20:14] mandrigin commented on #34
@cammellos, I guess it would be nice to discuss the protocol negotiation on this meeting? (cc @oskarth)

[2019-05-15 08:31] cammellos commented on #34
@mandrigin yes, I think people should maybe read ahead https://discuss.status.im/t/topic-negotiation-and-device-to-device-communication-proposal/1216 so we can make an informed decision

[2019-05-16 21:17] aerophile commented on #31
Here's the latest progress update
https://gist.github.com/aerophile/c7b36ecc435735c6d9ddd4c2ee8081cb
I've about half the call remaining to transcribe and to neeed add formatting as well as done in earlier PRs.

[2019-05-20 11:40] corpetty commented on #34
I would like to discuss the PR process and how we give better context to what needs to be done.  For instance, during the recent security issue with desktop, a PR was merged but testing didn't quite know that new binaries needed to be cut before testing.

In essence, how can we me the requirements of a finished PR more clear, as well as the baton that needs to be passed for each of those along var

[2019-05-20 13:05] mandrigin commented on #34
Notes: https://notes.status.im/core-dev-call-18-agenda

[2019-05-20 13:05] mandrigin opened #37 "Transcript for call 18"
Same as #20 but for core dev call 18

[2019-05-20 13:06] mandrigin opened #38 "Status Dev Meeting 19 Agenda"
Meeting Date/Time: Monday 2019-06-03 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-05-20 13:07] mandrigin commented on #34
Next agenda: https://github.com/status-im/pm/issues/38
Transcript bounty: https://github.com/status-im/pm/issues/37

[2019-05-20 13:07] #34 closed

[2019-05-20 13:07] mandrigin commented on #30
Transcript bounty: https://github.com/status-im/pm/issues/35

[2019-05-20 13:07] #30 closed

[2019-05-23 16:25] aerophile commented on #35
Yep @gitcoinbot i'm on this

[2019-05-26 05:26] aerophile commented on #35
Hi Just wanted to confirm that this is the call recording https://www.youtube.com/watch?v=YRJfDc_Y8b0 as the video does not have call 17 in its title and the date also I think is different from the call agenda.

[2019-05-26 05:28] aerophile commented on #31
Updates for this, I think this was among the longest dev calls and trancripting it took a fair bit of time more than I expected. In the WIP PR  I have added the work till now, expect for a small porrtion in the beginning all the rest of the call has been transcripted. I will work on formatting as done in previous PRs and then submit it. I'm open to imprvement suggestions.

[2019-05-30 16:43] aerophile commented on #35
Will proceed with the link as in the previous comment.

[2019-05-30 21:28] frankchen07 commented on #31
@aerophile - frank from gitcoin here - are you still submitting or do you need review?

[2019-05-31 14:06] aerophile commented on #31
@frankchen07 yep submitting

[2019-06-03 10:13] yenda commented on #38
We can discuss the chat and wallet api

[2019-06-03 11:30] jarradh commented on #38
I would like to get everyone's perspectives on where we have application performance issues and what would contribute the most to it.

[2019-06-03 11:49] rachelhamlin commented on #38
I want to briefly mention the upkeep required for bounties once opened.

[2019-06-03 13:27] mandrigin commented on #38
notes: https://notes.status.im/core-dev-call-19-agenda?view

[2019-06-03 13:27] mandrigin opened #40 "Status Dev Call 20 Agenda"
Meeting Date/Time: Monday 2019-06-17 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-06-03 13:28] mandrigin opened #41 "Transcript Core Dev Call #19"
Same as #20 but for core dev call 19

[2019-06-03 13:47] #31 closed

[2019-06-03 13:49] mandrigin commented on #31
@StatusSceptre @frankchen07  this one is approved, huge thanks to @aerophile. The bounty can be paid off.

[2019-06-06 18:28] aerophile commented on #35
Yes @gitcoinbot

[2019-06-07 12:00] StatusSceptre commented on #31
@aerophile thanks so much for your great work! :)

[2019-06-09 20:29] aerophile commented on #35
Updated till before teams.

[2019-06-12 14:07] gravityblast commented on #40
I would like to talk about the changes in status-go and the new APIs exposed to status-react to allow multi-account.

Issue: [multi-account support from main HD Wallet](https://github.com/status-im/status-go/issues/1479)

[2019-06-15 16:22] aerophile commented on #35
Still working on this.

[2019-06-16 10:40] aerophile commented on #35
Please add the url of the notes, I couldn't find that. Also out of curiosity what is gas abstraction

[2019-06-17 08:30] rachelhamlin commented on #40
Perhaps we can talk about multi-account in this order:

- Summary of recent multi-account work and what's changing (@guylouis)
- Status-go APIs exposed to status-react (@gravityblast)
- Migrating users to multi-account (@flexsurfer + me)

[Multi-account weekly notes](https://notes.status.im/rZXAblf8TNGSIszK-fbtqQ?view), [migration strategy notes](https://notes.status.im/u2xz0gFXSvmf6Xyat-eLfw?view

[2019-06-17 11:45] corpetty commented on #40
I would also like to discuss how we differentiate between things that won't change for a while and things that will after V1.

I understand that go modules are somewhat of an endeavor, but I want to make sure we don't change something we spend a bunch of money auditing for V1.

[2019-06-28 13:06] aerophile commented on #35
@mandrigin @StatusSceptre  requesting a review on this so that it can be paid out and closed.

[2019-07-01 10:16] guylouis opened #42 "Status Dev Call 21 Agenda"
Meeting Date/Time: Monday 2019-07-01 at 13:00 UTC
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, together with

[2019-07-01 10:58] guylouis commented on #42
Apart from the swarm updates, I think we could discuss

- **impact of multi-account on sending transactions from chat**
we outlined in a call last week that we'd need to set-up a ownership mechanism for A to prove ownership of the account he's using to send funds in chat to B
notes of the discussion: https://notes.status.im/9O5GHmMaRZS9LD1GLH-5yA

- **backward compatibility (from beta to v1)**
We

[2019-07-01 12:59] hesterbruikman commented on #42
Notes of the call here: https://notes.status.im/IF952S7cQ5m7EpZCP-yZew?view

[2019-07-15 08:58] oskarth opened #43 "Status Dev Call 22 Agenda"
Meeting Date/Time: Monday 2019-07-29 at 13:00 UTC (moved)
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live
Livepeer Live Stream Link TBD

For each agenda item, please provide context (things non-initiated people need to know, links etc) and goal (desired outcome of discussion) for agenda items.

Please comment below with things you want to discuss, togeth

[2019-07-15 08:59] oskarth commented on #43
swarm updates:
- SNT utility: sticker; tribute; dapp store; teller; network incentive; token-economics;
- core-improvement; protocol; dao; Core UI; keycard/multiaccount; qa/janitor; embark;nimbus

[2019-07-15 09:51] oskarth commented on #43
We were 17 people in the Core+Core UI standup, and no one had anything for Core Dev call (and nothing for agenda), so we are going to go ahead and cancel it and let people focus on shipping v1.

Core standup notes are here: https://notes.status.im/RmkSvlofR0G8RuSzbobWtg

V1 scope cutting call: https://notes.status.im/v1-cut-scope#4-OUTCOME-OF-CALL-Decisionaction-points

[2019-07-29 08:55] rajanie commented on #43
We can re-use this agenda

[2019-07-29 11:43] yenda commented on #43
- do we need to hire a tech lead, what is he going to do, why can't we do it? https://status.im/contribute/open_positions.html?gh_jid=1792602
- upgrade react-native:
    - move form deprecated internal libraries to the community one, for the 64 bits build testing, no need to get the webview working yet
    - upgrade react-native to 0.60
    - use hermes js engine on Android
- move from realm to st

[2019-07-29 12:04] oskarth commented on #43
https://notes.status.im/wTzxVs4wTeehqsptOWIkNg

[2019-07-29 12:14] oskarth commented on #43
https://notes.status.im/wTzxVs4wTeehqsptOWIkNg#

[2019-08-12 11:37] yenda opened #44 "cancelled"
cancelled

[2019-08-12 11:38] yenda commented on #44
Topics mentionned easlier in core call:

- infura paid  subscription and alternative/mitigations

[2019-08-12 11:56] #44 closed

[2019-08-19 08:25] rajanie opened #45 "Status Dev Call 23 Agenda"
Testing new monthly format

Meeting Date/Time: Monday August 26, 2019 @14:00
Meeting Duration 1.5 hours
YouTube Live Stream Link https://www.youtube.com/c/Statusim/live

Swarm Updates:
- Core @rachelhamlin
- Design @hesterbruikman
- Protocol @oskarth
- Keycard @guylouis
- Embark/Teller @iurimatias
- Security/Infra @corpetty @jakubgs
- QA @annadanchenko

Additional Agenda topics: Please comment bel

[2019-08-25 13:41] guylouis commented on #45
I will be ooo on 26/08. Here's Keycard swarm update
- keycard integration is ok for code freeze. Kudos to Dmitryn.
- keycard integration back log is [here](https://notes.status.im/iN1QNRYTRtWDHG6l5rVgrQ?both) and mostly consist of improvement/debugging to reach for v1 release, and features (iOS integration, Ledger Nano X integration) that were pushed out of v1
- research effort ongoing about using

[2019-08-26 08:33] rajanie commented on #45
Engagement survey

[2019-08-26 09:49] hesterbruikman commented on #45
- @andmironov is back from Greece, @errorists is burning (OOO) till Sept 4th, Simon and Hester just got back from (Eth)Berlin. Hester OOO Wed Aug 28th -  Istanbul
- Ongoing support for PR's. Please tag @errorists or @andmironov, apologies for any delays during our vacation breaks.
- Revamp of Teller designs and branding materials by Simon, updates already implemented by @richard-ramos and Jonathan

[2019-08-26 10:06] yenda commented on #45
I'm ooo but here is my short update: realm is very close to be completely removed, only non security critical data is still stored, 4 small services are required to replace them, probably finished by end of week and integrated next week. Now focused on fixing bugs and critical issues for end of September freeze

[2019-08-26 13:27] #45 closed

[2019-08-26 13:27] rajanie commented on #45
Here are the notes https://notes.status.im/llyn1yP-SVuBB40j4aJqFw#

[2019-10-21 08:46] StatusSceptre opened #46 "Status Dev Call 24 Agenda"
Looks like we lost a few dev call notes, so let's pick up where we left off with #24. Please add any items for the agenda here.

[2019-10-21 09:19] guylouis commented on #46
If there is room for updates, I'd like to give a quick update on keycard

[2019-10-21 09:26] oskarth commented on #46
I'd like to hear what the latest from Core/Infra is re PoW change upgrade

We can discuss briefly Waku mode if there's interest (going to touch on it in protocol call before). One thing that'd be good to get clarity on is who from Core wants to help develop PoC for it, another is in terms of how minimally we can scope it

[2019-10-21 09:29] yenda commented on #46
I'm interested in discussing Waku mode.

I'd like to discuss notifications as well, if people could read https://discuss.status.im/t/fixing-notifications/1379/16 and particularly give feedback on running Status as a service on Android

[2019-10-21 10:22] decanus commented on #46
I'd like to bring up a potential breaking change which would be good if we can make it into v1: https://github.com/vacp2p/specs/pull/19, otherwise a compatibility strategy is required.

[2019-10-21 15:43] StatusSceptre commented on #46
Notes from call are [here](https://notes.status.im/llyn1yP-SVuBB40j4aJqFw?both) - search '2019-10-21'

[2019-10-21 15:43] #46 closed

[2019-11-04 09:08] StatusSceptre opened #47 "Status Dev Call 25 Agenda"
Please leave your agenda items here.

Note: We no longer open core dev calls with team updates. We only discuss specific points for the agenda.

[2019-11-04 11:23] yenda commented on #47
RFC for reintroduction of send and receive commands https://github.com/status-im/team-core/issues/5

[2019-11-04 12:58] yenda commented on #47
To sum up:

[code]

[2019-11-04 13:47] StatusSceptre commented on #47
Notes: https://notes.status.im/cW_ng1skT2SkxpVRQ3nkxA

[2019-11-04 13:47] #47 closed

[2019-11-18 10:00] StatusSceptre opened #48 "Status Dev Call 26 Agenda"
Post items here.

[2019-11-27 06:01] 3esmit commented on #48
Walletconnect.org integration https://docs.walletconnect.org/quick-start/wallets

[2019-12-02 09:08] StatusSceptre commented on #48
We skipped call #26 due to lack of issues on 18/11 but will keep this issue open for today, 2/12.

[2019-12-02 10:00] StatusSceptre commented on #48
No v1 petinent issues and we are in the final 2 weeks to code freeze, so we're skipping the call today. Will discuss Wallet Connect integration in next call.

[2020-02-24 06:31] StatusSceptre opened #49 "Status Dev Call 27 Agenda"
Add your items here. 📢

[2020-02-24 09:21] andremedeiros commented on #49
- Releasing checklists and process
- Test coverage

[2020-02-24 15:52] StatusSceptre commented on #49
https://notes.status.im/Nf0IP_61SS2dqisSOK3vjQ?edit

[2020-02-24 15:52] #49 closed

[2020-03-23 08:46] StatusSceptre opened #50 "Status Dev Call 28 Agenda"
Monday April 20, 1200 UTC

Please comment with any topics you'd like to discuss.

[2020-03-23 12:56] corpetty commented on #50
Wall/Book of shame updates

[2020-04-13 04:16] oskarth commented on #50
Is this the one on Monday? Could we add date for clarity?

I'd like us to discuss specs and specific spec proposals. See https://discuss.status.im/t/stable-status-specs-and-sips/1599

I also think @rachelhamlin had some workshop-ish she wanted to do

cc @andremedeiros

[2020-04-13 04:28] oskarth commented on #50
Aside from some of the things mentioned in Discuss topic:

    How we use IPFS gateway for stickers (impacts availability, censorship and privacy guarantees)
    How notifications work since changes last few months (differences across platforms and so on)
    How we interface with the Ethereum blockchain, i.e. use Infura and Cloudflare for transactions history etc (documenting this clearly also ac

[2020-04-13 13:45] andremedeiros commented on #50
I'd like to discuss [EIP 634](https://eips.ethereum.org/EIPS/eip-634) and what improvements / changes we can make to it so we can start incorporating social features into the app.

[2020-04-14 12:02] oskarth commented on #50
Agenda:

## Agenda

0. Preliminaries (Oskar)
	- note taker
	- stream a-ok
1. Core dev reboot (Oskar)
	- Going back to roots https://discuss.status.im/t/status-devs-meeting-open-and-async-useful/124
	- Now we have a protocol! And more team stability
	- Focus on specs and protocol
2. Refresher on specs (Oskar)
	- https://specs.status.im/
	- Purpose and state, ownership
	- Blockers for writing?
	- Q&

[2020-04-15 11:05] rachelhamlin commented on #50
I'll offer suggested format + minimum requirements for specs .

[2020-04-20 13:38] Samyoul commented on #50
@oskarth is it possible for future agenda's that you could `@` the people in the list? I can track what does and doesn't need my attention a lot better when I'm `@`ed 😄

[2020-04-23 16:07] jinhojang6 commented on #50
On a different note, the README will be updated by our ambassador @Irvine from now on. I will update it to https://media.statusnetwork.com/#/core-dev

[2020-04-27 06:07] #50 closed

[2020-04-27 06:08] oskarth opened #51 "Core Dev Call 29 Agenda"
Monday May 4, 1200 UTC

Please comment with any topics you'd like to discuss.

cc @status-im/status-core @status-im/status-protocol

[2020-04-27 06:09] oskarth commented on #35
Closing as outdated.

[2020-04-27 06:09] #35 closed

[2020-04-27 06:09] oskarth commented on #37
Closing as outdated.

[2020-04-27 06:09] #37 closed

[2020-04-27 06:09] oskarth commented on #40
Closing as outdated.

[2020-04-27 06:09] #40 closed

[2020-04-27 06:09] oskarth commented on #41
Closing as outdated.

[2020-04-27 06:09] #41 closed

[2020-04-27 06:09] oskarth commented on #42
Closing as outdated.

[2020-04-27 06:09] #42 closed

[2020-04-27 06:09] oskarth commented on #43
Closing as outdated.

[2020-04-27 06:09] #43 closed

[2020-04-27 06:10] oskarth commented on #48
Closing as outdated.

[2020-04-27 06:10] #48 closed

[2020-04-27 06:11] oskarth opened #52 "Add notes and recordings from calls 17..27 where they exist"
A bunch of calls are missing notes and recording links here: https://github.com/status-im/pm

Add as many as possible that are here https://github.com/status-im/pm/issues?q=is%3Aissue+ on YT or other sources.

[2020-04-27 06:12] oskarth commented on #52
@jinhojang6 @Irvine Is this something ambassadors could take a look at? I suspect we only have partial records, but it'd be nice to have it captured in the README.

[2020-04-27 09:36] Irvine commented on #52
@oskarth: I'll pull the audio from the YouTube videos for transcription to recreate the missing pages in CodiMD, then submit a pull request with README.md updates.

[2020-04-27 09:44] oskarth commented on #52
Awesome, thanks @Irvine! :)

[2020-04-28 01:19] aerophile commented on #52
Hi @Irvine @oskarth , I did the transcription for call 17. I believe the pull request is #39. Hit me up if there are any questions or anything I can help with.

[2020-04-28 01:20] aerophile commented on #52
Also if possible could the bounty for #35 be approved as well.

[2020-05-04 09:29] Ferossgp commented on #51
Presentation of the progress for Status Quo library, and future work.

[2020-05-04 10:54] hesterbruikman commented on #51
Specs status review (current status + assign reviewer for specs below)
- [Keycard](https://github.com/status-im/specs/pull/109/files)
- [IPFS gateway for Sticker Pack](https://github.com/status-im/specs/pull/110/files)
- [3rd Party API usage](https://github.com/status-im/specs/pull/111/files)
- [Mentions](https://github.com/status-im/specs/pull/105)
- [Notifications (decentralized/Android)](https:

[2020-05-04 11:55] hesterbruikman commented on #51
Roadmap Q2

[2020-05-15 08:29] hesterbruikman opened #53 "Core Dev Call 30 Agenda"
Monday May 18, 1300 UTC

Please comment with any topics you'd like to discuss.

cc @status-im/status-core @status-im/status-protocol

[2020-05-15 08:45] hesterbruikman commented on #53
1. Agenda setting
2. Specs review > open PR's for Discussion
    a. Change 8-eips.md to 8-supported
    b. Removal of Personal Pronouns From Specs
    c. Changes to Send images
3. Expected changes/proposals
    a. Notifications on iOS
    b. ...
    c. etc
4. AOB

[2020-05-18 03:21] oskarth commented on #53
I'm not sure we should be talking about individual implementation specific issues like:
b. #status-go - Documentation Linting is Ignored
c. #status-go - Build a make-vendor-bot
d. #status-go - Consistently flaky Jenkins unit tests

In Core dev call.

Also, @Samyoul if you want to add stuff to the agenda please comment here as opposed to editing Hester's initial comment directly. Makes it hard to s

[2020-05-18 03:22] oskarth commented on #53
As for specs, there are currently 7 pending PRs https://github.com/status-im/specs/pulls (@yenda @siphiuel @rasom @Ferossgp @vkjr @Samyoul) - if there are outstanding questions that need to be answered to get your PRs merged, this would be a good chance to go over them.

[2020-05-18 07:25] Samyoul commented on #53
@oskarth ok no problem. I mostly wanted to ask a few questions on these points to get consensus on the approach.

- [#status-go - Documentation Linting is Ignored](https://github.com/status-im/status-go/issues/1968)
   - Do we want to check for golint linting issues?
   - Is there a reason that we aren't doing it?
- [#status-go - Build a make-vendor-bot](https://github.com/status-im/status-go/issu

[2020-05-18 07:27] Samyoul commented on #53
With reference to my spec PR: https://github.com/status-im/specs/pull/114 I have a number of questions that are detailed in this comment https://github.com/status-im/specs/pull/114#issuecomment-629272782.

[2020-05-28 15:02] hesterbruikman opened #56 "Core Dev Call 31 Agenda"
Monday June 1, 1300 UTC

Please comment with any topics you'd like to discuss.

cc @status-im/status-core @status-im/status-protocol

[2020-05-28 15:17] hesterbruikman commented on #56
0. Assign notetaker
1. Agenda setting (~5`)
2. Announcements (~5`)
    a. ...
3. Review [previous actions](https://notes.status.im/core-dev-call_30#%E2%98%91%EF%B8%8F-ACTION-ITEMS) (~5`)
4. Specs review > open PR's for Discussion (~10`)
    a. [Keycard](https://github.com/status-im/specs/pull/109)
    b. [Dapp browser API usage spec](https://github.com/status-im/specs/pull/108)
    c. [Mentions](h

[2020-05-29 03:54] oskarth commented on #56
@flexsurfer do you have something here?

[2020-05-29 10:20] Samyoul commented on #56
## Action items

- [ ] Iuri and others: Check Change 8-eips.md to 8-supported and add comments if needed
  - [Made last call for opinion. If no opinion is given I'll proceed with the proposal](https://github.com/status-im/specs/issues/116#issuecomment-635894700)
- [x] Andrea and Samuel: Continue offline to decide on lowering PoW for images
  - **Resolved in Status specs:**
    - [Introduced to `dr

[2020-06-01 11:43] hesterbruikman commented on #56
Removed iOS notifications from 5a. Will be replaced by a Discuss post as @flexsurfer is OOO today

[2020-06-10 16:30] hesterbruikman opened #57 "Agenda Core dev call #32"
Monday June 15
13:00 UTC
Participate: [meet.google.com/uyn-yfrq-uka](meet.google.com/uyn-yfrq-uka)
View: [https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos](https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos)

0. Assign notetaker
1. Agenda setting (~5`)
2. Announcements (~5`)
    a. ...
3. Review [previous actions](https://notes.status.im/core-dev-call_31#%E2%98%91%EF%B8

[2020-06-15 09:02] oskarth commented on #57
I dont' see notifications (new proposal, not existing one that is a PR) on agenda but I believe @cammellos @flexsurfer wanted to talk about it

[2020-06-15 09:23] cammellos commented on #57
Yes, we can talk about the current work and proposal on notifications, under 5. I guess

[2020-06-15 11:59] 0kok0 commented on #57
I'd like to chat briefly about https://notes.status.im/mitigation-process?both

[2020-06-16 11:33] hesterbruikman commented on #57
Follow up agenda

1. Assign notetaker
2. Agenda setting (~5`)
3. Mitigation process (~10`)
4. Stimbus (~15`)

- a. What, Why, Why now
- b. Responsibilities
- c. Deliverables
- d. Way of working
- e. Who
5. Any other business

[2020-06-17 18:26] #57 closed

[2020-06-26 09:48] hesterbruikman opened #58 "Agenda Core dev call #33"
Monday June 29
13:00 UTC
Participate: [meet.google.com/uyn-yfrq-uka](meet.google.com/uyn-yfrq-uka)
View: [https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos](https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos)

0. Assign notetaker
1. Agenda setting (~5`)
2. Announcements (~5`)
    a. ...
3. Review [previous actions](https://notes.status.im/core-dev-call_32#%E2%98%91%EF%B8

[2020-06-29 04:03] oskarth commented on #58
Forgot where it was mentioned but I think 90m would be fine, considering how many topics there are. The main thing is that people should come prepare so we don't have to spend too much time recapping what should be done as individual prep already.

Topics:
1. Waku v2
- Feeedback probably best async in Discuss thread.
- What I need is clear commitment from Core Desktop/Stimbus (@andremedeiros @iuri

[2020-06-29 11:48] yenda commented on #58
Possible announcement: layer 2 solution for Status Pay

[2020-07-27 17:52] hesterbruikman opened #59 "Core dev call #34"
Monday August 24
14:00 UTC
Participate: [meet.google.com/uyn-yfrq-uka](meet.google.com/uyn-yfrq-uka)
View: [https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos](https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos)

0. Assign notetaker
1. Agenda setting (~5')
2. Announcements (~5')
    a. ...
3. Review [previous actions](https://notes.status.im/core-dev-call_33#) (~5') _Don'

[2020-08-24 10:03] rasom commented on #59
Mentions in desktop version

[2020-09-04 11:51] #59 closed

[2020-09-04 11:55] hesterbruikman opened #60 "Agenda Core dev call #35"
Monday August 24
14:00 UTC
Participate: [meet.google.com/uyn-yfrq-uka](meet.google.com/uyn-yfrq-uka)
View: [https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos](https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos)

0. Assign notetaker
1. Agenda setting (~5')
2. Announcements (~5')
    a. Stimbus progress update
3. Review [previous actions](https://notes.status.im/core-dev-c

[2020-09-21 06:30] cammellos opened #61 "Agenda Core dev call #36"
Monday September 24
12:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View: https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos

Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
a. waku async or sync updated
Review previous actions (~5') if available
Specs review > open PR's for Discussion (~10')
a. Organisation channels h

[2020-09-21 06:30] cammellos commented on #61
@oskarth @decanus Would will you be able to give update/estimation on waku-2 timeline?
Thanks

[2020-09-21 09:53] oskarth commented on #61
@decanus was supposed to join but won't be able to due to some personal events. 14:00 UTC is unfortunately too late for me. Here's an async update on Waku v2:

## 1) Current status

We are still focused on track 1 (https://vac.dev/waku-v2-plan) right now, i.e. basic libp2p integration. Last week had internal Nangang testnet, it does very little but it tests basics across network (https://github.co

[2020-09-21 09:57] oskarth commented on #61
According to agenda it is 1400 UTC but according to Status Calendar it is 1200 UTC. Which is it? If it is the latter, I'll try to phone in briefly, though I might be a bit late. I've also asked @kdeme if he is able to speak for Waku.

[2020-09-21 10:06] cammellos commented on #61
@oskarth thanks for the update, the correct time is status calendar, no worries if you can't make it.

[2020-09-21 10:59] Samyoul commented on #61
I'd like opinions on [specs#150 - Introduction of ChatMessageIdentity](https://github.com/status-im/specs/pull/150), particularly any objections to the implementation of the `display_name` field.

**Note** for example of differentiation between ENS and display names see Maciej's sample https://github.com/status-im/status-react/issues/11047#issuecomment-675915787

[2020-10-01 15:21] cammellos opened #62 "Agenda Core dev call #37"
Monday October 5
12:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View: https://www.youtube.com/channel/UCFzdJTUdzqyX4e9dOW7UpPQ/videos

Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
- Discuss local notifications

Review previous actions (~5') if available
Specs review > open PR's for Discussion (~10')
AOB (~5')
YouTube:
Google Ha

[2020-10-02 07:37] flexsurfer commented on #62
Discuss local notifications

[2020-10-16 09:52] cammellos opened #63 "Agenda Core Dev Call #38"
Monday October 19
12:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View: https://www.youtube.com/watch?v=tflTVd2nYBQ
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
- EIP-747 wallet_watchAsset Interface support for Dapps

Review previous actions (~5') if available
Specs review > open PR's for Discussion (~10')
AOB (~5')
YouTube: htt

[2020-10-16 17:15] 3esmit commented on #63
https://github.com/status-im/status-react/issues/10036

[2020-11-01 19:58] cammellos opened #64 "Agenda Core Dev Call #39"
Monday November 2nd
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View: https://www.youtube.com/watch?v=esWSxj1Kmk8
Assign notetaker
Agenda setting (~5')
Announcements (~5')
- New team member: Shivek Khurana

Expected changes/proposals
- Optimised tx history fetching (we need to reduce the number of rpc requests). https://github.com/status-im/status-react/issues/998

[2020-11-02 09:04] rasom commented on #64
Optimised tx history fetching (we need to reduce the number of rpc requests).

[2020-11-12 07:05] cammellos opened #65 "Agenda Core Dev Call #40"
Monday November 9th
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View: https://www.youtube.com/watch?v=aoQy8y1Llv0
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
- Discussion waku2

Review previous actions (~5') if available
Specs review > open PR's for Discussion (~10')
AOB (~5')
YouTube: https://www.youtube.com/watch?v=aoQy8y

[2020-11-15 11:01] decanus commented on #65
@cammellos we were also planning on discussing wakuv2 and how it will be later integrated into status.

cc @oskarth @michaelsbradleyjr

[2020-11-16 04:41] oskarth commented on #65
@decanus @michaelsbradleyjr  can we be more precise with what:

(i) problems
(ii) outcomes/decisions we expect? As well as
(iii) Any relevant context people should beforehand

The current oneliner gives zero context, doesn't explain what problems have been encountered, and is fuzzy on what the goal of the discussion is. If that's all the preparation we have, I don't personally see the need to atte

[2020-11-16 07:36] decanus commented on #65
Hey @oskarth

1. currently we have several things that need to be considered and determined which we can consider problems. Mainly I would say it is what the expectations are related to nim-waku from other teams, how they expect to interact with the APIs and what they expect to accomplish eg how they expect to integrate.

   @michaelsbradleyjr, one thing we can discuss is things related to the db,

[2020-11-30 07:16] cammellos opened #66 "Agenda Core Dev Call #41"
Monday November 30th
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:-
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
Review previous actions (~5') if available
Specs review > open PR's for Discussion (~10')
AOB (~5')
YouTube: -
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://notes.statu

[2020-11-30 12:49] cammellos commented on #66
Closing as there's nothing to discuss today.

[2020-11-30 12:49] #66 closed, assigned to cammellos

[2020-12-14 08:52] cammellos opened #67 "Agenda Core Dev Call #42"
Monday December 14th
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://notes.status.im/core-dev-call_42#

[2020-12-28 08:25] cammellos opened #68 "Agenda Core Dev Call #43"
Monday December 28th
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://notes.status.im/core-dev-call_43#

[2021-01-11 07:38] cammellos opened #69 "Agenda Core Dev Call #44"
Monday January 11th
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://notes.status.im/core-dev-call_44#

[2021-01-11 07:38] #68 closed, assigned to cammellos

[2021-01-25 09:02] cammellos opened #70 "Agenda Core Dev Call #45"
Monday January 25th
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://notes.status.im/core-dev-call_45#

[2021-01-25 12:48] #70 closed, assigned to cammellos

[2021-02-05 12:35] cammellos opened #71 "Agenda Core Dev Call #46"
Monday February 8th
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals

- React native message list performance
- Metamask compatibility

Review previous actions (~5') if available
AOB (~5')
YouTube: https://www.youtube.com/watch?v=EKhfsVx3K6w
Google Hangouts: https://meet.google.c

[2021-02-05 12:38] cammellos commented on #71
We could discuss react native message list performance/features .
https://notes.status.im/-iLVTV7ESK68JCFc0AzvmQ?both cc @flexsurfer @errorists

[2021-02-08 10:17] cammellos commented on #71
Metamask/dapps compatibility

[2021-02-08 13:30] #71 closed, assigned to cammellos

[2021-02-22 08:51] cammellos opened #72 "Agenda Core Dev Call #47"
Monday February 22th
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals

React native message list performance
Metamask compatibility
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https:/

[2021-02-22 11:55] cammellos commented on #72
canceling, as nothing has been added to the agenda

[2021-02-22 11:55] #72 closed, assigned to cammellos

[2021-03-08 09:18] cammellos opened #73 "Agenda Core Dev Call #48"
Monday March 8th
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals

React native message list performance
Metamask compatibility
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://not

[2021-03-22 07:21] cammellos opened #74 "Agenda Core Dev Call #49"
Monday March 22nd
13:00 UTC
Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals

React native message list performance
Metamask compatibility
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://no

[2021-04-19 07:29] cammellos opened #75 "Agenda Core Dev Call #50"
Monday April 19th

Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://notes.status.im/core-dev-call_50#

[2021-04-19 11:18] #75 closed, assigned to cammellos

[2021-05-17 08:48] cammellos opened #76 "Agenda Core Dev Call #51"
Monday May 17th

Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://notes.status.im/core-dev-call_51#

[2021-05-18 06:49] D4nte commented on #76
is the date correct?

[2021-05-18 07:17] cammellos commented on #76
Sorry, forgot to update it, thanks.
It was yesterday though, is there anything you would like to discuss?

[2021-05-19 01:20] D4nte commented on #76
Not really but I'd be keen to try joining one at some point to listen.

[2021-05-31 06:38] cammellos opened #77 "Agenda Core Dev Call #52"
Monday May 31st

Participate: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
View:
Assign notetaker
Agenda setting (~5')
Announcements (~5')
Expected changes/proposals
Review previous actions (~5') if available
AOB (~5')
YouTube:
Google Hangouts: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Notes: https://notes.status.im/core-dev-call_52#

[2021-07-12 12:51] guylouis opened #78 "Agenda Core Dev Call #53"
### Monday July 12th
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: @guylouis

### Agenda
**Team updates**
mobile, desktop, security, vac, infra

**Discussion** - _list below subjects to discuss prior to the call_
- _item 1_
- _item 2_

### Notes
 https://notes.status.im/core-dev-call_53#

[2021-07-20 08:55] guylouis opened #79 "Agenda Core Dev Call #54"
### Monday July 26th
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: *TBD* (@guylouis ooo)

### Agenda
**Team updates**
mobile, desktop, security, vac, infra

**Discussion** - _list below subjects to discuss prior to the call_
- _item 1_
- _item 2_

### Notes
 https://notes.status.im/core-dev-call_54#

[2021-07-23 09:06] oskarth commented on #79
I'd love to hear an update re Waku v2 integration from Core and Desktop (I know roughly state as of early this week as an individual, but it'd be good to have this discussed openly, as well as give a chance for talk about any possible problems that exist).

Meta: It'd be good if we could record these calls like before, both for (1) people in different time zones (2) the larger community. See e.g.

[2021-07-26 13:00] jakubgs commented on #79
Video: https://drive.google.com/file/d/1SRLRTCLGY4sPP2oKH3Vi3MxQZWlmfs3U/

[2021-08-20 14:53] guylouis opened #80 "Agenda Core Dev Call #55"
### Monday 9th August
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: Jakub

### Agenda
**Team updates**
mobile, desktop, security, vac, infra

### Notes
https://notes.status.im/core-dev-call_55

[2021-08-20 14:54] guylouis opened #81 "Agenda Core Dev Call #56"
### Monday August 23rd
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: @guylouis

### Agenda
**Team updates**
mobile, desktop, security, vac, infra

**Discussion** - _list below subjects to discuss prior to the call_
- _item 1_
- _item 2_

### Notes
 https://notes.status.im/core-dev-call_56#

[2021-09-03 09:27] guylouis opened #82 "Agenda Core Dev Call #57"
### Monday September 6th
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: @guylouis

### Agenda
**Team updates** (mobile, desktop, security, vac, infra, design)
**Discussion**
_list here subjects to discuss prior to the call_

### Notes
https://notes.status.im/core-dev-call_57#

[2021-09-17 12:53] guylouis opened #83 "Agenda Core Dev Call #58"
**Monday September 20th**
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: @guylouis

**Agenda**
- Team updates (mobile, desktop, security, vac, infra, design)
- Discussion
list here subjects to discuss prior to the call

**Notes**
https://notes.status.im/core-dev-call_58#

[2021-10-01 08:27] guylouis opened #84 "Agenda Core Dev Call #59"
**Monday October 18th**
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: @guylouis

**Agenda**
- Team updates (mobile, desktop, security, vac, infra, design)
- Discussion
list here subjects to discuss prior to the call (just edit the github issue)

**Notes**
https://notes.status.im/core-dev-call_59#

[2021-10-18 09:31] D4nte commented on #84
Apologies, too late/too tired to join.

What is the timeline to migrate to Waku v2?

[2021-10-27 09:13] guylouis opened #85 "Agenda Core Dev Call #60"
**Monday November 1st**
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: TBD

**Agenda**
- Team updates (mobile, desktop, security, vac, infra, design)
- Discussion
list here subjects to discuss prior to the call (just edit the github issue)

**Notes**
https://notes.status.im/core-dev-call_60#

[2021-11-12 16:53] guylouis opened #86 "Agenda Core Dev Call #61"
**Monday November 15h**
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: TBD

**Agenda**
- Team updates (mobile, desktop, security, vac, infra, design)
- Discussion
list here subjects to discuss prior to the call (just edit the github issue)

**Notes**
https://notes.status.im/core-dev-call_61#

[2021-11-25 08:27] guylouis opened #87 "Agenda Core Dev Call #62"
**Monday November 29th**
link: https://meet.google.com/uyn-yfrq-uka?authuser=1&hs=122
Note taker: TBD

**Agenda**
- Team updates (mobile, desktop, security, vac, infra, design)
- Discussion
list here subjects to discuss prior to the call (just edit the github issue)

**Notes**
https://notes.status.im/core-dev-call_62#